body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 1rem;
}

/* Fuentes personalizadas */
.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-sans {
  font-family: "Open Sans", sans-serif;
}

/* Animación para los menús */
.group {
  transition: transform 0.2s ease;
}

.group:hover {
  transform: scale(1.05);
  z-index: 10;
}

/* Animación para los desplegables */
.dropdown {
  display: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.group:hover .dropdown,
.dropdown:hover {
  display: block;
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* Estilo para las opciones del desplegable */
.dessert-option {
  transition: transform 0.2s ease;
}

.dessert-option:hover {
  transform: scale(1.03);
}

.dessert-option img {
  transition: transform 0.2s ease;
}

.dessert-option:hover img {
  transform: scale(1.1);
}

/* Estilo para el carrusel */
.carousel {
  position: relative;
  border-radius: 0.5rem; /* Equivalente a rounded-lg */
}
